{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Learning Blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'main_page' %}">Learning Blog</a>
                <!-- mobile menu button start -->
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button>
                <!-- mobile menu button end -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a id="newPost" class="nav-link" href="{% url 'new_post' %}">
                                New Post
                            </a>
                        </li>
                        {% endif %}
                        {% if not user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link" role="button" data-bs-toggle="dropdown">Log In</a>
                            <form action="{% url 'login' %}" method="POST" class="dropdown-menu p-4"
                                style="min-width: 15rem;">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label class="form-label">Username</label>
                                    <input type="text" name="username" class="form-control" placeholder="Username">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Sign In</button>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'registration' %}">Create a new account.</a>
                            </form>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'logout' %}">
                                <strong>{{request.user}}</strong> (Log Out)
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2 form-control-sm" role="search" placeholder="Search">
                        <button class="btn btn-outline-success btn-sm">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        
        <div class="main-area">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>