{% extends "blog/base.html" %}
{% load static %}

{% block body %}
<div class="container p-5" style="max-width: 50rem;">
    <h1 class="display-4 text-center my-4" style="letter-spacing: 1px;">Log in</h1>
    <form action="{% url 'login' %}" method="POST" class="form-group">
        {% csrf_token %}
        <div data-mdb-input-init class="mb-3">
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div data-mdb-input-init class="mb-3">
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="form-control btn btn-primary">Sign In</button>
        <div class="d-flex flex-column align-items-center gap-3 mt-5">
            <a href="#TBD" class="text-decoration-none">Forgot your password?</a>
            <p>Don't have an account? <a href="{% url 'registration' %}" class="text-decoration-none">Register here</a></p>
    </form>
        </div>
</div>
{% endblock %}
