{% extends "blog/base.html" %}

{% block body %}

<div class="container">
    <h1 class="display-4 text-center my-4">New Post</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
                    {{ form.title }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.summary.id_for_label }}" class="form-label">Summary</label>
                    {{ form.summary }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.image_url.id_for_label }}" class="form-label">Image URL</label>
                    {{ form.image_url }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.body.id_for_label }}" class="form-label">Body</label>
                    {{ form.body }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.tags.id_for_label }}" class="form-label">Tags</label>
                    {{ form.tags }}
                </div>
                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}