{% extends "blog/base.html" %}

{% block body %}
<div class="container">
    <h1 class="display-4 text-center mt-4 mb-5">{{ post.title }}</h1>
    
    <div class="text-center mb-4">
        <img src="{{post.image_url}}" class="post-image center" alt="Post Image">
    </div>
    <div class="post-details">
        <p class="post-author"><strong>Author:</strong> {{ post.author }}</p>
        <p class="post-date"><strong>Published Date:</strong> {{ post.published_date }}</p>
        <p class="card-text">
            {% for tag in post.tags.all %}
            <span class="badge rounded-pill bg-success">{{ tag.name }}</span>
            {% endfor %}
          </p>
        <div class="post-body" style="font-weight: 400; letter-spacing: 0.05em; line-height: 1.8; text-align: justify !important;">
            {{ post.body | linebreaks }}
        </div>
    </div>
</div>
{% endblock %}
