{% extends "blog/base.html" %}
{% load custom_filters %}
{% load static %}

{% block body %}
<style>
  body {
    margin-bottom: 20px;
  }

  .custom-image {
    width: 50%;
  }

  .profile-pic {
    transition: all 0.2s;
  }
  
  .profile-pic:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  @keyframes pop {

    50% {
      transform: scale(1.2);
    }

    100%{
      transform: scale(1);
    }
  }

  .new-comment {
    animation: pop .2s linear;
    z-index: 2;
  }

  .comments-container {
    z-index: 1;
  }
</style>

<script>
  $(document).ready(function () {
    function submitComment() {

      // Get the form data
      var post_id = $("#comment-form").data("post-id");
      var formData = $("#comment-form").serialize();

      // URL for AJAX request
      var url = "/read_post/" + post_id;

      $.ajax({
        type: "POST",
        url: url,
        data: formData,
        success: function (data) {

          // clear the form
          $("#comment-form")[0].reset();

          // insert new comment before first child
          var newComment = $(data.comment_html);
          newComment.find('div:first').addClass("new-comment");
          $(".comments-container").children().first().before(newComment);

          // display success mage
        },
        error: function (error) {
          // display error message
          console.log("error", error);
        }
      });
    }

    function deleteComment(commentId) {
      var url = "/delete_comment/" + commentId;

      $.ajax({
        type: 'DELETE',
        url: url,
        data: {},
        success: function (response) {
          if (response.message === 'OK') {
            $(`#comment-${commentId}`).remove();
          }
          else {
            alert('Ssdasd.');
          }
        },
        error: function () {
          alert('Something went wrong.');
        }
      });
    }

    $("#comment-form").submit(function(e) {
      e.preventDefault();
      submitComment();
    });

    $(document).on('click', '.delete-comment', function () {
      var commentId = $(this).data('comment-id');
      deleteComment(commentId);
    });
  });
</script>

<div class="container">
    <div class="text-center mt-4">
        <img 
          src="{{post.author.user_image.url}}"
          width="100"
          height="100"
          class="rounded-circle profile-pic"
          alt="user-profile-pic"
        >
    </div>
    <h1 class="display-4 text-center mt-4">{{ post.title }}</h1>
    <div class="post-details">
      <h5 class="text-center"><small class="text-muted">by</small>
        {{ post.author }}
      </h5>
      <p class="text-center text-muted">{{ post.published_date }}</p>
    </div>
    
    <div class="text-center mb-4">
        <img src="{{post.image_url}}" class="img-fluid custom-image" alt="Post Image">
    </div>

    <div class="post-body" style="font-weight: 400; letter-spacing: 0.05em; line-height: 1.8; text-align: justify !important;">
        {{ post.body | safe }}
    </div>

  <p class="card-text mt-2 mb-5">
    Tags:
    {% for tag in post.tags.all %}
    <span class="badge rounded-pill bg-success">{{ tag.name }}</span>
    {% endfor %}
  </p>

  <h3 class="mb-4">Comment Section</h3>
  {% for comment in post.comment_set.all %}
    {% include 'blog/comment.html' with comment=comment %}
  {% endfor %}

      {% if user.is_authenticated %}
      </div class="container">
        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
          <div class="d-flex flex-start w-100">
            <img class="rounded-circle shadow-1-strong me-3"
            {% if user.is_authenticated %}
              src="{{user.user_image.url}}"
            {% else %}
              src="/media/default_image.png"
            {% endif %}
              alt="avatar"
              width="35"
              height="35"
            />
            <div class="form-outline w-100">
              <form method="POST" id="comment-form" data-post-id="{{post.id}}">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary btn-sm float-right">Post comment</button>
              </form>
            </div>
          </div>
          <div class="float-end mt-3 pt-1">
          </div>
      </div>
      {% endif %}
      </div>
    </div>
</div>

{% endblock %}

{% block tags %}
<div class="list-group">  
  {% for letter in sorted_keys %}
    <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" disabled>
      <strong>{{ letter }}</strong>
      <span class="badge bg-primary rounded-pill"> {{tags_dict|get_count:letter }} </span>
      {% for tag in tags_dict|get_tags:letter %}
      <form method="POST" action="{% url 'posts_per_tag' tag.id %}">
        {% csrf_token %}
        <button type="submit" class="list-group-item list-group-item-action">
          {{ tag.name }}
        </button>
      </form>
      {% endfor %}
      </button>
  {% endfor %}
  </div>
{% endblock %}
